body{
    background-color: rgb(255, 244, 230);
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large
}

h2:hover{
    font-size: 40px;
    text-decoration:underline;
}

.container{
    width: 800px;
    margin: 0 40px;
    
}

.articles > section {
    flex: 1 1 300px; /* flex-grow, flex-shrink, flex-basis */
    margin: 10px;
    width: 100px;
}
.articles{
    display:flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
    height: auto; /* mantém a proporção */
    object-fit: cover; /* ajusta o corte se precisar */
    margin-bottom: 10px;
}

header {
    padding: 15px;
    background-color: black;
    color: antiquewhite;
}

a {
    background-color: red;
    color: antiquewhite;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
}

a:hover{
    padding: 16px;
    }

section {
    padding: auto;
}

span {
    background-color: rgb(250, 232, 209);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

